# Informs Flask where to find the app. Should not be changed.
FLASK_APP=monitors/

# "True" if Flask debugging should be enabled, "False" otherwise.
FLASK_DEBUG=TRUE

# URL of the workstations backend service.
WORKSTATIONS_API_BASE=

# URL of the equipment backend service.
EQUIPMENT_API_BASE=

# COMBINED DISPLAYS
# Comma deliniated strings of bibnums used in STEM display
EQUIPMENT_STEM_LAPTOPS=
EQUIPMENT_STEM_CHARGERS=
EQUIPMENT_STEM_LAPTOP_CHARGERS=
EQUIPMENT_STEM_HEADPHONES=
EQUIPMENT_STEM_CALCULATORS=
# Comma deliniated strings of bibnums used in Mckeldin display
EQUIPMENT_MCK_LAPTOPS=
EQUIPMENT_MCK_CHARGERS=
EQUIPMENT_MCK_HEADPHONES=

# LEGACY DISPLAYS
# Uses the format KEY|Floor,KEY|Floor
# e.g., MCK1F|1st,MCK2F|2nd,etc...
WORKSTATIONS_STEM=
WORKSTATIONS_MCK=
# Uses the format Bibnum|Item,Bibnum|Item
# E.g., 001234567|MacBook Air,007654321|Dell Latitude,etc...
# Multiple bibnums for the same item are treated as distinct entries
# E.g., 0024681012|Apple Charger,003691215|Apple Charger,etc...
EQUIPMENT_STEM=
EQUIPMENT_MCK=