# Informs Flask where to find the app. Should not be changed.
FLASK_APP=monitors/

# "True" if Flask debugging should be enabled, "False" otherwise.
FLASK_DEBUG=TRUE

# URL of the workstations backend service.
WORKSTATIONS_API_BASE=https://wstrack.lib.umd.edu/availability/list?format=json

# LibApps Base
LIBAPPS_BASE=https://umd.libcal.com/api/1.1

# LibApps ClientID
LIBAPPS_CLIENT=

# LibApps Secret
LIBAPPS_SECRET=