<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="refresh" content="60"/>
    
    <link rel="stylesheet" media="screen" href="{{ url_for('displays.static', filename='css/legacy-monitor.css') }}" type="text/css" />
    <link rel="stylesheet" media="screen" href="{{ url_for('displays.static', filename='css/legacy-home.css') }}" type="text/css" />

  </head>
<body>

<h1 class="text-hidden">Equipment Availability</h1>

<p id="availability-timestamp">Availability as of {{ last_updated }}</p>
<table style="width: 100%; border-style:none;" cellpadding="15">
  <tbody>
    <tr class="no-border">
      <td width="83%">

        <table id="equipment-availability-table" class="no-border">
          <tbody>
            <tr class="no-border">
              <th width="60%">Type</th>
              <th width="20%">Available</th>
              <th width="20%">Next Due</th>
            </tr>
            {% set row_index = 0 %}
            {% for result in availability_results %}
              <tr class="{{ result.class }}">
                <td>{{ result.title }}</td>
                <td>{{ result.available }}</td>
                <td>{{ result.due }}</td>
              {% set row_index = row_index + 1 %}
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </td>
    </tr>
  </tbody>
</table>
</body>
</html>
