<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Workstation/Equipment Availability</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<link rel="stylesheet" media="all" href="{{ url_for('displays.static', filename='css/mckeldin.css') }}" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body>
  <main>
    <div class="row  margin-top-60">
    <div class="col-lg-6">
    <div class="row border-btm">
      <div class="col-lg-2"><h1>Floor</h1></div>
      <div class="col-lg-10">
        <h1> Available Workstations</h1>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-4"> <!-- 1st two columns -->
      <div class="row border-btm">
        <div class="col-lg-6 floor">7<span class="font-sm">th</span></div>
        <div class="col-lg-6 available" id="MCK7F-available"></div>

      </div>
      <div class="row border-btm">
        <div class="col-lg-6 floor">6<span class="font-sm">th</span></div>
        <div class="col-lg-6 available" id="MCK6F-available"></div>

      </div>
      <div class="row border-btm">
        <div class="col-lg-6 floor">5<span class="font-sm">th</span></div>
        <div class="col-lg-6 available" id="MCK5F-available"></div>
      </div>
      <div class="row border-btm">
        <div class="col-lg-6 floor">4<span class="font-sm">th</span></div>
        <div class="col-lg-6 available" id="MCK4F-available"></div>

      </div>
      <div class="row border-btm">
        <div class="col-lg-6 floor">3<span class="font-sm">rd</span></div>
        <div class="col-lg-6 available" id="MCK3F-available"></div>

      </div>
      <div class="row border-btm">
        <div class="col-lg-6 floor">2<span class="font-sm">nd</span></div>
        <div class="col-lg-6 available" id="MCK2F-available"></div>

      </div>
      <div class="row border-btm">
        <div class="col-lg-6 floor">1<span class="font-sm">st</span></div>
        <div class="col-lg-6 available" id="MCK1F-available"></div>
      </div>
      </div> <!-- end of 1st two columns -->

      <div class="col-lg-8"> <!-- start of Google Chart -->

      <div id="barchart_workstations" style="width: 650px; height: 1000px; margin: 15px 20px 0 0 ;"></div>
      </div><!-- start of Google Chart -->

    </div> <!-- end of big row -->
    <div class="row" style="margin-top:45px;">
      <div class="col-lg-8">
        <h2>To see computers in all libraries, visit <a href="https://go.umd.edu/findacomputer">go.umd.edu/findacomputer</a></h2>
      </div>
      <div class="col-lg-2" style="text-align: center">
        <div>
        <div class="legend" style="background:#62a626;"> </div><h4>Available</h4> </div>
      </div>
      <div class="col-lg-2" style="text-align: center">
        <div><div class="legend" style="background:#b1d393;"></div><h4>Occupied</h4></div>

      </div>
    </div>

     </div> <!-- end of workstation column -->

     <div class="col-lg-5 offset-lg-1" style="border: 1px solid #ccc;">
     <!-- start of equipment loan column -->
       <div class="row">
        <div class="col-lg-6" style="text-align: center"><h1></h1></div>
        <div class="col-lg-6">
          <h1>@ 2nd floor</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 equipment">
          <div aria-hidden="true" class="fa fa-lg fa-battery-full"></div>
          <h2 id="equipment0-label"></h2>
        </div>
        <div class="col-lg-5 available-e" id="equipment0-available"></div>
        </div>
        <div class="row">
        <div class="col-lg-6 equipment">
          <div aria-hidden="true" class="fa fa-lg fa-headphones"></div>
          <h2 id="equipment1-label"></h2>
        </div>
        <div class="col-lg-5 available-e" id="equipment1-available"></div>
        </div>
        <div class="row">
        <div class="col-lg-6 equipment">
          <div aria-hidden="true" class="fa fa-lg fa-laptop"></div>
          <h2 id="equipment2-label"></h2>
        </div>
        <div class="col-lg-5 available-e" id="equipment2-available"></div>
        </div><h2 style="margin-top:80px;">To see a complete list of available Equipment Loans, visit <a href="https://go.umd.edu/equipment"> go.umd.edu/equipment</a></h2>
        </div> <!-- end of equipment loan column -->
    </div>
  </main>

  <script type="text/javascript">
    google.charts.load("current", {"packages":["bar"]});
    google.charts.setOnLoadCallback(fetchAndUpdate);
    const EQUIPMENT_JSON_URL = "/monitors/api/equipment-mckeldin.json";
    const WORKSTATION_JSON_URL = "/monitors/api/workstations-mckeldin.json";
    // How often to update, in milliseconds
    const UPDATE_INTERVAL = 60 * 1000; // Once a minute
    // Number of milliseconds before data is considered "stale"
    const STALE_DATA_TIMEOUT = 10 * 60 * 1000; // 10 minutes
    // Base class for "fetcher" subclasses
    class Fetcher {
      // url: the URL to fetch
      // timeout: The number of milliseconds before data is considered "stale".
      constructor(url, timeout) {
        this.url = url;
        this.timeout = timeout;
        this.lastUpdate = null;
      }
      // Fetches URL and calls appropriate function on success/failure.
      fetch() {
        fetch(this.url)
          .then(response => response.json())
          .then(data => {
            // Successful response
            this.lastUpdate = Date.now();
            this.recover();
            this.success(data);
          })
          .catch(err => {
            // Failed response
            let now = Date.now();
            if ((this.lastUpdate === null) ||
                ((now - this.lastUpdate) >= this.timeout)) {
                  this.stale();
                }
          });
      }
      // Function runs when a successful response is received.
      // data - the JSON data contained in the response
      success(data) {
      }
      // Function runs when timeout is exceeded.
      stale() {
      }
      // "Recovery" function that restores from a "stale" state. This
      // function runs for each successful response, so should include
      // a check to determine if recovery is actually needed.
      recover() {
      }
    }
    // Fetcher implementation for Equipment Availability data
    class EquipmentAvailabilityFetcher extends Fetcher {
      constructor(url, timeout) {
        super(url, timeout);
      }
      success(data) {
        for(let i=0; i < 3; i++) {
          let equip = data[i];
          let equipmentLabel = equip["label"];
          let equipmentAvailable = equip["available"];
          let equipmentKey = "equipment" + i;
          let docLabel = document.getElementById(equipmentKey+"-label");
          if (docLabel !== null) {
            docLabel.innerText = equipmentLabel;
          }
          let docAvailable = document.getElementById(equipmentKey+"-available");
          if (docAvailable !== null) {
            docAvailable.innerText = equipmentAvailable;
          }
        }
      }
      stale() {
        let equipAvail = document.getElementsByClassName("available-e");
        for(let i=0; i < equipAvail.length; i++) {
          equipAvail[i].innerText = "?";
          equipAvail[i].classList.add("update-failure");
        }
      }
      recover() {
        // Recover from failure, if necessary
        let needsRecovery = document.getElementsByClassName("available-e update-failure").length > 0;
        if (needsRecovery) {
          // Set number boxes back to green
          let equipmentAvail = document.getElementsByClassName("available-e");
          for(let i=0; i < equipmentAvail.length; i++) {
            equipmentAvail[i].classList.remove("update-failure");
          }
        }
      }
    }
    // Fetcher implementation for Workstation Availability data
    class WorkstationAvailabilityFetcher extends Fetcher {
      constructor(url, timeout) {
        super(url, timeout);
        // Stores the workstation chart, so if doesn't have to be recreated
        // each time. This prevents flickering on redraw.
        this.workstationChart = null;
      }
      success(data) {
        // Populate number boxes
        let locationKeys = Object.keys(data);
        locationKeys.forEach( function(key) {
          let floorData = data[key];
          let floorDiv = document.getElementById(key + "-available");
          if (floorDiv !== null) {
            floorDiv.innerText = floorData["available"];
          }
        });
        this.drawChart(data, locationKeys );
      }
      // Draws the bar chart
      // data - the JSON data
      // locationKeys - array of keys for the locations
      drawChart(data, locationKeys) {
        let barChartData = [
          ["Floors", "Available", "Occupied",]
        ];
        locationKeys.forEach( function(key) {
          let floorData = data[key];
          barChartData.push( [ floorData["name"], parseInt(floorData["available"]), parseInt(floorData["occupied"]) ] );
        });
        let barChartDataTable = google.visualization.arrayToDataTable(barChartData);
        let options = {
          chartArea: {width: "90%"},
          isStacked: true,
          colors: ["#62a626"],
          legend: {
            position: "none"
          },
          bars: "horizontal", // Required for Material Bar Charts.
          hAxis: {
            minValue: 0,
            textStyle: {
              bold: true,
              fontSize: 18,
              color: "#555"
            },
            titleTextStyle: {
              bold: true,
              fontSize: 18,
              color: "#555"
            }
          },
          vAxis: {
            title: "",
            textStyle: {
              fontSize: 14,
              bold: true,
              color: "#fff"
            },
            titleTextStyle: {
              fontSize: 14,
              bold: true,
              color: "#555"
            }
          }
        };
        let chartDiv = document.getElementById("barchart_workstations");
        if (this.workstationChart === null) {
          this.workstationChart = new google.charts.Bar(chartDiv);
        }
        this.workstationChart.draw(barChartDataTable, google.charts.Bar.convertOptions(options));
      }
      stale() {
        // Set number boxes to red
        let workstationAvail = document.getElementsByClassName("available");
        for(let i=0; i < workstationAvail.length; i++) {
          workstationAvail[i].innerText = "?";
          workstationAvail[i].classList.add("update-failure");
        }
        // Hide the Goggle chart div
        let chartDiv = document.getElementById("barchart_workstations");
        chartDiv.style.visibility = "hidden";
      }
      recover() {
        // Recover from failure, if necessary
        let needsRecovery = document.getElementsByClassName("available update-failure").length > 0;
        if (needsRecovery) {
          // Set number boxes back to green
          let workstationAvail = document.getElementsByClassName("available");
          for(let i=0; i < workstationAvail.length; i++) {
            workstationAvail[i].classList.remove("update-failure");
          }
          // Restore the Goggle chart div
          let chartDiv = document.getElementById("barchart_workstations");
          chartDiv.style.visibility = "visible";
        }
      }
    }
    // Set up fetchers
    var equipmentAvailabilityFetcher = new EquipmentAvailabilityFetcher(EQUIPMENT_JSON_URL, STALE_DATA_TIMEOUT);
    var workstationAvailabilityFetcher = new WorkstationAvailabilityFetcher(WORKSTATION_JSON_URL, STALE_DATA_TIMEOUT);
    // Periodic fetch function
    function fetchAndUpdate() {
      equipmentAvailabilityFetcher.fetch();
      workstationAvailabilityFetcher.fetch();
    }
    // Set AJAX interval for fetching
    setInterval(fetchAndUpdate, UPDATE_INTERVAL);
  </script>
</body>
</html>
