<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>STEM Library Monitor</title>
    <link
      rel="stylesheet"
      href="{{ url_for('displays.static', filename='css/stem.css') }}"
    />
    <script src="{{ url_for('displays.static', filename='js/stem.js') }}"></script>
  </head>
  <body>
    <main class="c-bg-primary dark">
      <div class="container">
        <div class="grid">
          <div id="title" class="t-display c-content-primary dark">
            STEM Library
          </div>
          <div id="library-time-close">
            <div id="library-close" class="info-card">
              <div
                id="library-status-title"
                class="title-sub t-card-title c-content-primary"
              >
                Closes Today at
              </div>
              <div
                id="close-time"
                class="t-display c-content-interactive-tertiarty"
              >
                --:-- --
              </div>
            </div>
          </div>
          <div id="library-time-current">
            <div class="info-card">
              <div class="title-sub t-card-title c-content-primary">
                Current Time
              </div>
              <div id="current-time" class="t-display c-content-primary">
                --:-- --
              </div>
            </div>
          </div>
          <div id="equipment-availability">
            <div class="card-title t-section-title c-content-primary">
              Equipment Loan
            </div>
            <div class="equipment-cards card-group">
              <div id="laptops" class="info-card c-bg-secondary">
                <div class="title-sub t-card-title c-content-primary">
                  Laptop Chargers
                </div>
                <div
                  id="info-laptop-charger"
                  class="info-card-content c-content-primary"
                >
                  <div class="info-main">
                    <div class="number c-content-tertiary">
                      <div
                        id="available-count"
                        class="t-display c-content-primary"
                      >
                        --
                      </div>
                      <div id="content-deco">/</div>
                      <div id="total-count">--</div>
                    </div>
                    <div
                      id="available-status"
                      class="sub-text t-section-description-text c-content-tertiary"
                    >
                      Available
                    </div>
                  </div>

                  <div class="status-bar">
                    <span class="status-bar"></span>
                  </div>
                </div>
              </div>
              <div id="chargers" class="info-card c-bg-secondary">
                <div class="title-sub t-card-title c-content-primary">
                  Phone Chargers
                </div>
                <div
                  id="info-phone-charger"
                  class="info-card-content c-content-primary"
                >
                  <div class="info-main">
                    <div class="number c-content-tertiary">
                      <div
                        id="available-count"
                        class="t-display c-content-primary"
                      >
                        --
                      </div>
                      <div id="content-deco">/</div>
                      <div id="total-count">--</div>
                    </div>
                    <div
                      id="available-status"
                      class="sub-text t-section-description-text c-content-tertiary"
                    >
                      Available
                    </div>
                  </div>

                  <div class="status-bar">
                    <span class="status-bar"></span>
                  </div>
                </div>
              </div>
              <div id="calculators" class="info-card c-bg-secondary">
                <div class="title-sub t-card-title c-content-primary">
                  Calculators
                </div>
                <div
                  id="info-calculator"
                  class="info-card-content c-content-primary"
                >
                  <div class="info-main">
                    <div class="number c-content-tertiary">
                      <div
                        id="available-count"
                        class="t-display c-content-primary"
                      >
                        --
                      </div>
                      <div id="content-deco">/</div>
                      <div id="total-count">--</div>
                    </div>
                    <div
                      id="available-status"
                      class="sub-text t-section-description-text c-content-tertiary"
                    >
                      Available
                    </div>
                  </div>

                  <div class="status-bar">
                    <span class="status-bar"></span>
                  </div>
                </div>
              </div>
              <div id="vr" class="info-card c-bg-secondary">
                <div class="title-sub t-card-title c-content-primary">
                  Whiteboard Marker Kits
                </div>
                <div
                  id="info-marker-kit"
                  class="info-card-content c-content-primary"
                >
                  <div class="info-main">
                    <div class="number c-content-tertiary">
                      <div
                        id="available-count"
                        class="t-display c-content-primary"
                      >
                        --
                      </div>
                      <div id="content-deco">/</div>
                      <div id="total-count">--</div>
                    </div>
                    <div
                      id="available-status"
                      class="sub-text t-section-description-text c-content-tertiary"
                    >
                      Available
                    </div>
                  </div>

                  <div class="status-bar">
                    <span class="status-bar"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-content c-content-primary">
              <div class="card-description t-section-title-sub">
                Full List of Equipment
              </div>
              <div class="card-url t-section-description-text">
                go.umd.edu/equipment-stem
              </div>
            </div>
          </div>
          <div id="space-info">
            <div class="card-text-content">
              <div class="card-title t-section-title c-content-primary">
                Our Spaces
              </div>
              <div class="card-content c-content-primary">
                <div class="card-description t-section-title-sub">
                  Find study or meeting spaces for individual and groups. Filter
                  by amenities and noise level.
                </div>
                <div class="card-url t-section-description-text">
                  go.umd.edu/study-stem
                </div>
              </div>
            </div>
            <div class="card-qrcode">
              <img
                src="{{ url_for('displays.static', filename='images/umd-study-stem.svg') }}"
                alt="QR Code"
              />
            </div>
          </div>
          <div id="jsg-makerspace">
            <div class="card-title t-section-title c-content-primary">
              John and Stella Graves Makerspace
            </div>
            <div class="jsg-makerspace-content">
              <div id="jsg-time-open-card">
                <div class="info-card c-bg-secondary">
                  <div
                    id="jsg-status-title"
                    class="title-sub t-card-title c-content-primary"
                  >
                    Opens Today at
                  </div>
                  <div id="jsg-time-open" class="t-display c-content-primary">
                    --:-- --
                  </div>
                </div>
              </div>
              <div id="jsg-time-close-card">
                <div class="info-card c-bg-secondary">
                  <div class="title-sub t-card-title c-content-primary">
                    Closes Today at
                  </div>
                  <div id="jsg-time-close" class="t-display c-content-primary">
                    --:-- --
                  </div>
                </div>
              </div>
              <div id="makerspace-info">
                <div class="card-text-content">
                  <div class="card-list t-section-title-sub c-content-primary">
                    <ul>
                      <li>3D printing</li>
                      <li>Laser & Vinyl cutting</li>
                      <li>Augmented & Virtual reality</li>
                    </ul>
                  </div>
                  <div class="card-content c-content-primary">
                    <div class="card-description t-section-title-sub">
                      Hours, events, technology, policies.
                    </div>
                    <div class="card-url t-section-description-text">
                      go.umd.edu/jsgmakerspace
                    </div>
                  </div>
                </div>
                <div class="card-qrcode">
                  <img
                    src="{{ url_for('displays.static', filename='images/umd-jsgmakerspace.svg') }}"
                    alt="QR Code"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
